
<h3>{{country.name}}</h3>

<div id="country-media-collection">


{{#each movies}}
  <div class="media-info">
    <h4>{{this.title}}</h4>
    <img class="media-img" src="{{this.img}}" alt="{{this.title}} Poster">
    <p>{{this.description}}</p>
    <p class="rating">Rating on IMDB: {{this.rating}}</p>
  </div>
{{/each}}

{{#each books}}
  <div class="media-info">
    <h4>{{this.title}}</h4>
    <img class="media-img" src="{{this.img}}" alt="{{this.title}} Poster">
    <p>{{this.description}}</p>
    <p class="rating">Rating on Google Books: {{this.rating}}</p>
  </div>
{{/each}}

<!--
Show only one button based on whether country is part of user's collection
-->
  <form method="POST" action="{{country}}/delete">
    <label>Delete country from my map</label>
    <button class="btn" type="submit">Delete</button>
  </form>
  <form method="POST" action="{{country}}/add">
    <label>Add country to my map</label>
    <button class="btn" type="submit">Add</button>
  </form>