
<h3>{{country.name}}</h3>

<div class="whatsapp-box">
  <a href="https://wa.me/?text=I%20am%20travelling%20to%20{{country.name}}%20on%20CouchTrip.%20Come%20join%20me%20for%20a%20movie%20night!%20https%3A%2F%2Fwww.couchtrip.herokuapp.com%2F">Invite your friends to a movie night on WhatsApp</a>
</div>

<div id="country-media-collection">

{{#each movies}}
  <div class="media-info">
    <h3>Movie</h3>
    <h4>{{this.title}}</h4>
    <img class="media-img" src="{{this.img}}" alt="{{this.title}} Poster">
    <p>{{this.description}}</p>
    <p class="rating">Rating on IMDB: {{this.rating}}</p>
  </div>
{{/each}}

{{#each books}}
  <div class="media-info">
    <h3>Book</h3>
    <h4>{{this.title}}</h4>
    <img class="media-img" src="{{this.img}}" alt="{{this.title}} Poster">
    <p><b>by {{this.author}}</b></p>
    <p>{{this.description}}</p>
    <p class="rating">Rating on Google Books: {{this.rating}}</p>
  </div>
{{/each}}

</div>
<a href="/countries/{{country}}/add">
     <button type="submit" class="btn add-country-btn">Add to my trips</button>
</a>
