
<h3>{{country.name}}</h3>

<div id="country-media-collection">


{{#each movies}}
  <div class="media-info">
    <h3>Movie</h3>
    <h4>{{this.title}}</h4>
    <img class="media-img" src="{{this.img}}" alt="{{this.title}} Poster">
    <p>{{this.description}}</p>
    <p class="rating">Rating on IMDB: {{this.rating}}</p>
  </div>
{{/each}}

{{#each books}}
  <div class="media-info">
    <h3>Book</h3>
    <h4>{{this.title}}</h4>
    <img class="media-img" src="{{this.img}}" alt="{{this.title}} Poster">
    <p><b>by {{this.author}}</b></p>
    <p>{{this.description}}</p>
    <p class="rating">Rating on Google Books: {{this.rating}}</p>
  </div>
{{/each}}


  <a href="/countries/{{country.name}}/add">
     <button type="submit" class="btn btn-primary" name ="{{country.name}}">Add to my trips</button>
</a>
