<div class="user-screen">

<h3>Profile</h3>

<div class="user-info">
  {{#if loggedInUser.profilePic}}
     <img class="profile-pic" src="loggedInUser.profilePic" alt="Profile pic">
  {{else}}
      <img class="profile-pic" src="https://images.unsplash.com/photo-1527150602-a98f7a6f2746?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Profile pic">
  {{/if}}



  <p>Name: {{loggedInUser.username}}</p>
  <p>Email: {{loggedInUser.email}}</p>
  <p>My favourite CouchTrips: {{loggedInUser.favouritePlaces}}</p>
  <p>My favourite books: {{loggedInUser.favouriteBooks}}</p>
  <p>My favourite movies: {{loggedInUser.favouriteMovies}}</p>
</div>

<a href="/profile/edit">
<button class="btn edit-profile-btn" type="submit">Edit profile</button>
</a>

</div>