<div class="user-screen">

<h3>{{loggedInUser.username}}'s World</h3>

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}

<div id="profile-country-collection">

{{#each countriesToDo}}
  <div class="country-info">
    <h4>{{this.name}}</h4>
    <img class="country-pic" src="https://source.unsplash.com/random" alt="{{this.name}}">
    <a href="/countries/{{this.name}}">Discover more</a>
  </div>
{{/each}}

</div>

</div>